main{
    margin: 20px;
}
img{
    margin: 10px;
    margin-bottom: 30px;
    object-fit: scale-down;
}

footer{
    background-color: black;
    color: lightslategrey;
    text-align: center;
}
.card-title {
    font-size:1em;
}

.link {
    color: lightslategrey;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
}