

main{
    margin: 20px;
}
img{
    margin: 10px;
    margin-bottom: 30px;
    object-fit: scale-down;
}

footer{
    background-color: black;
    color: lightslategrey;
    text-align: center;
    margin-top: 200px;
    padding-top: 20px;
}

.card-title {
    font-size:1em;
}

.link {
    color: lightslategrey;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardbis{
    margin: 20px;
    height: 350px;
    width: 500px;
}

h4 {
    color: lightslategrey;
}

.pres {
    text-align: left;
}

.art {
    background-color: black;
}
.descArticle{
    color: white;
    margin: 20px;
    padding-top: 50px;

}
.titleArt {
    color:white;
    text-align: center;
    padding-top: 20px;
}

li {
    margin-top: 50px;
}
h2{
    color: white;
}

.noArticle{
    color: white;
    text-align: center;
    margin: 20px;
    font-size: 3em;
}

.buttonbid{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

