main{
    margin: 20px;
}
img{
    object-fit: scale-down;
}

footer{
    background-color: black;
    color: lightslategrey;
    text-align: center;
}

.link {
    color: lightslategrey;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: center;
}